* {
    font-family: inter, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: #111827;
    padding: 10px;
    box-sizing: border-box; 
    display: inline-block;
    position: fixed;
    top: 0;
    z-index: 1000; /*Garante que fica em cima de tudo */
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
}

header nav ul li a:hover {
    color: #440B6B;
}

.light header {
    background-color: #FFF;
}

.light header nav ul li a {
    color: #000;
}

.light header nav ul li a:hover {
    color: #440B6B;
}

/*Fundo com gradiante que faz o efeito de degrade */
.fundo {
    background: linear-gradient(180deg, #0b0b0f, #1e3a8a);
}

.light .fundo {
    background: #c7d2fe;
}

.logo {
    width: 120px;
    margin-top: 10px;
}

.btnheader {
    background: linear-gradient(135deg, #6d28d9, #9333ea);
    color: #FFF;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 15px;
    transition: all 0.5s;
    border: none;
}

.btnheader:hover {
    background: linear-gradient(135deg, #7c3aed, #c4b5fd);
    color: #000;
    border: none;
}

.btnTema {
    background: linear-gradient(135deg, #6d28d9, #9333ea);
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 100px;
    transition: all 0.5s;
    border: none;
}

.btnTema:hover {
    background: linear-gradient(135deg, #7c3aed, #c4b5fd);
    color: #000;
    border: none;
}

.partePrincipal {
    width: 100%;
    height: 100vh; /*ocupa 100% da altura da tela */
    background: url("../imgs/FundoPrincipal.png") no-repeat;
    background-size: cover;
    background-position: left center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    padding-right: 200px;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.5); /* Overlay escuro sob a imagem */
    background-blend-mode: darken;
}

.partePrincipal h1 {
    font-size: 44px;
    margin-bottom: 20px;
    color: #FFF;
}

.partePrincipal p {
    max-width: 800px;
    margin-bottom: 20px;
    color: #FFF;
}

.conteudo {
    max-width: 400px;
    text-align: center;
    color: #FFF;
}

.conteudo h1 {
    word-spacing: 10px;
}

.btn {
    background: linear-gradient(135deg, #6d28d9, #9333ea);
    padding: 30px 90px;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    transition: all 0.5s;
}

.btn a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
}

.btn:hover {
    background: linear-gradient(135deg, #7c3aed, #c4b5fd);
    color: #000;
    border: none;
}

.btn a:hover{
    color: #000;
}

.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
    align-items: center;
    color: #FFF;
}

.sobre p {
    max-width: 1000px;
    margin: 20px;
    padding-top: 20px;
}

.light .sobre {
    color: #000;
}

.recursos h2 {
    padding-top: 130px;
    text-align: center;
    color: #FFF;
}

.light .recursos h2 {
    color: #000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    color: #FFF;
    padding-top: 60px;
}

.blocos {
    text-align: center;
    background: #111827;
    border : 1px solid rgba(109, 40, 217, 0.5);
    box-shadow: 0 0 15px rgba(109, 40, 217, 0.3);
    border-radius: 12px;
    margin: 50px 75px;
    padding: 30px;
}

.light .blocos {
    background: #FFF;
    color: #000;
    border: 1px solid rgba(109, 40, 217, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.blocos:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(109, 40, 217, 0.6);
    cursor: pointer;
}

.ComoJogar {
    text-align: center;
    padding: 40px;
    color: #FFF;
}

.light .ComoJogar {
    color: #000;
}

.ComoJogar h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.Controles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.itens {
    background: #111827;
    border : 1px solid rgba(109, 40, 217, 0.5);
    box-shadow: 0 0 15px rgba(109, 40, 217, 0.3);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    margin: 30px;
}

.itens:hover {
    transform: scale(1.05);
}

.itens span {
    margin-top: 40px;
    font-size: 30px;
}

.itens p {
    margin-top: 10px;
}

.light .itens {
    background: #FFF;
    color: #000;
    border: 1px solid rgba(109, 40, 217, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.demojogo {
    text-align: center;
    color: #FFF;
    padding-top: 120px;
}

.light .demojogo {
    color: #000;
}

.demojogo h2 {
    margin-bottom: 20px;
}

iframe {
      margin: 30px 0;
      width: 70%;
      height: 600px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(109, 40, 217, 0.5);
}

.contato {
    padding: 200px;
}

footer {
    text-align: center;
    color: #FFF;
    background-color: #111827;
    padding: 50px;
}

.light footer {
    background-color: #e5e7eb;
    color: #000;
}

.margincontato {
    padding-top: 119px;
    padding-bottom: 119px;
}

.contato {
    width: 100%;
    margin-top: 100px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    color: #FFF;
}

.contato input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.contato textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.contato button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #6d28d9, #9333ea);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contato button:hover {
    background: linear-gradient(135deg, #7c3aed, #c4b5fd);
    color: black;
}

.marginhistoria {
    padding-top: 100px;
}

.historia {
    max-width: 900px;
    margin: 100px auto 140px auto;
    padding: 40px;
    background: #111827;
    border-radius: 15px;
    color: #FFF;
    line-height: 1.6;
    box-shadow: 0 0 20px rgba(109, 40, 217, 0.3);
}

@media (max-width: 720px) {
    header {
        text-align: center;
    }

    header nav {
        float: none;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .logo {
        width: 90px;
    }

    .partePrincipal {
        padding: 20px;
        align-items: center;
        text-align: center;
        padding-right: 0;
        background-position: center;
        background-size: cover;
    }

    .conteudo {
        max-width: 100%;
    }

    .partePrincipal h1 {
        font-size: 28px;
    }

    .partePrincipal {
        font-size: 14px;
    }

    .btn {
        padding: 15px 30px;
        font-size: 18px;
    }

    .sobre {
        padding: 100px 20px;
    }
    
    .grid {
        grid-template-columns: 1fr;
    }

    .blocos {
        margin: 20px
    }

    .Controles {
        grid-template-columns: 1fr 1fr;
    }

    .itens {
        margin: 10px;
    }

    iframe {
        width: 95%;
        height: 300px;
    }

    .contato {
        padding: 20px;
        margin: 350px 20px 100px 20px;
        width: auto;
    }

    .historia {
        margin: 350px 20px 100px 20px;
        padding: 20px;
    }
}