* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #000;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    position: fixed;
    top: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
}

header nav ul li a:hover {
    color: #440B6B;
}

.fundo {
    background: linear-gradient(180deg, #0b0b0f, #1e3a8a);
}

.logo {
    width: 120px;
    margin-top: 10px;
}

.btnheader {
    background: #5C36C5;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 15px;
    transition: all 0.5s;
}

.btnheader:hover {
    background: #5BD0E8;
    color: #000;
}

.partePrincipal {
    width: 100%;
    height: 90vh;
    background: url("../imgs/FundoPrincipal.png") no-repeat;
    background-size: cover;
    background-position: left center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    padding-right: 100px;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.partePrincipal h1 {
    font-size: 44px;
    margin-bottom: 20px;
    color: #FFF;
}

.partePrincipal p {
    max-width: 800px;
    margin-bottom: 20px;
    color: #FFF;
}

.conteudo {
    max-width: 400px;
    text-align: center;
    color: #FFF;
}

.btn {
    background: #5C36C5;
    text-decoration: none;
    padding: 30px 90px;
    font-size: 30px;
    border-radius: 25px;
    transition: all 0.5s;
}

.btn:hover {
    background: #5BD0E8;
    color: #000;
}

.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    align-items: center;
}

.sobre p {
    max-width: 1000px;
    margin: 20px;
}

.recursos h2 {
    padding-top: 50px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.grid .blocos {
    text-align: center;
    border : 1px solid #6A0DAD;
    border-radius: 5px;
    margin: 50px 75px;
    padding: 15px;
}

.demojogo {
    text-align: center;
}

.demojogo p {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    background-color: #000;
    padding: 50px;
}