* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #000;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    top: 0;
    nav {
        float: right;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin: 25px;
                a {
                    text-decoration: none;
                    color: #FFF;
                    transition: all 0.5s;
                }
                a:hover {
                    color: #440B6B;
                }
            }
        }
    }
}

.logo {
    width: 120px;
}

.btnheader {
    background: #5C36C5;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 15px;
    transition: all 0.5s;
}